---
- name: Deploy Infrastructure
  hosts: all
  become: yes
  tasks:
    - name: Update system
      apt: update_cache=yes upgrade=dist
    
    - name: Install common packages
      apt: name={{ item }} state=present
      loop: [curl, wget, htop, git, ufw]

- name: Configure Web Servers
  hosts: web_servers
  tasks:
    - name: Install nginx
      apt: name=nginx state=present
    
    - name: Start nginx
      systemd: name=nginx state=started enabled=yes
